.ui {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  min-height: calc(100vh - 78px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.profile-container{
  position: absolute;
}

.first{
  width: 50%;
  background-color: rgb(19, 116, 185);
  position: relative;
  min-height: calc(100vh - 78px);
}

.second{
  width: 50%;
  position: relative;
  min-height: calc(100vh - 78px);
}





















/* .user-profile {
    min-height: calc(100vh - 78px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #648ac8;
    color: white;
  }

  .profile-picture {
    border-radius: 50%;
    width: 50%;
  }

  .user-profile .user-stuffs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  .user-header {
    width: 40%;
    text-align: center;
  }

  .user-info-sections {
    min-height: 450px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }

  .user-info {
    background-color: white;
    background-color: #D4F1F4;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.527);
    transition: transform 0.3s;
  }

  .user-info:hover {
    transform: translateY(-10px);
  }

  @media screen and (max-width:992px) {
    .user-stuffs{
      flex-direction: column;
      gap: 2rem;
      width: 90% !important;
    }
    .user-header{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .user-info-sections {
      width: 100%;
    }
    .profile-picture {
      width: 30%;
    }
    .user-basic-info{
      width: 70%;
    }
  }

  @media screen and (max-width:768px) {
    .user-stuffs{
      width: 100% !important;
      padding: 1rem;
    }
    .user-info-sections {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(1, 1fr);
    }
    .user-info{
      min-height: 300px;
    }

  } */