.chat-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2c2f33;
  color: #ffffff;
}

.chat-header {
  padding: 20px;
  background-color: #23272a;
  border-bottom: 1px solid #444;
}

.chat-header h2 {
  margin: 0;
  font-size: 24px;
}

.chat-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 20px;
}

.chat-message .username {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.chat-message .message {
  margin: 0;
}

.chat-message .timestamp {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #b9bbbe;
}

.chat-date {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  font-weight: bold;
  color: #b9bbbe;
}











/* .chat-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2c2f33;
  color: #ffffff;
}

.chat-header {
  padding: 20px;
  background-color: #23272a;
  border-bottom: 1px solid #444;
}

.chat-header h2 {
  margin: 0;
  font-size: 24px;
}

.chat-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 20px;
}

.chat-message.date {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.chat-message .username {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.chat-message .message {
  margin: 0;
}

.chat-message .timestamp {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #b9bbbe;
} */